
config acme
	option account_email 'email@example.org'
	option debug '0'

config cert 'example'
	option key_type 'ec-384'
	list domains 'example.org'
	list domains '*.example.org'
	list credentials 'CF_Key="xxxxxxxxxxxxxxxxxxxx"'
	list credentials 'CF_Email="email@example.org"'
	option enabled '0'
	option dns 'dns_cf'
	option validation_method 'dns'
	option days '60'

