
config shairport-sync 'shairport_sync'
	option enabled '0'
	option respawn '1'
	option name 'Shairport-Sync-%v-%h'
	option interpolation 'soxr'
	option output_backend 'alsa'
	option mdns_backend 'avahi'
	option volume_range_db '150'
	option regtype '_raop._tcp'
	option statistics 'no'
	option log_verbosity '0'
	option ignore_volume_control 'no'
	option playback_mode 'stereo'
	option metadata_enabled 'no'
	option metadata_cover_art 'no'
	option sesctl_wait_for_completion 'no'
	option sesctl_session_interruption 'no'
	option alsa_disable_synchronization 'no'
	option conf_file '/etc/shairport-sync.conf'

