
config dnsproxy 'global'
	option listen_addr '127.0.0.1'
	option listen_port '5334'
	option enabled '0'

config dnsproxy 'bogus_nxdomain'

config dnsproxy 'cache'
	option enabled '0'
	option cache_optimistic '0'
	option size '65535'

config dnsproxy 'dns64'
	option enabled '0'
	option dns64_prefix '64:ff9b::'

config dnsproxy 'edns'
	option enabled '0'

config dnsproxy 'servers'
	list bootstrap '119.29.29.29'
	list bootstrap '223.5.5.5'
	list bootstrap '114.114.114.114'
	list fallback '119.29.29.29'
	list fallback '223.5.5.5'
	list fallback '114.114.114.114'
	list upstream 'https://cloudflare-dns.com/dns-query'
	list upstream 'https://doh.opendns.com/dns-query'
	list upstream 'https://dns.google/dns-query'

