
config options 'tgt'
	option iothreads '2'
	list portal '0.0.0.0:3260'
	option enabled '0'

config target '1'
	option name 'iqn.2012-06.org.openwrt:target1'

config lun '1_1'
	option device '/dev/sda'
	option type 'disk'
	option rotation_rate '7200'
	option blocksize '4096'

config account
	list target '1'
	option user 'username1'
	option password 'pass1'

