
config upnpd 'settings'
	option enabled '0'
	option enable_protocols 'all'
	option log_output 'default'
	option upnp_igd_compat 'igdv1'

config acl_entry
	option comment 'High ports'
	option int_addr '0.0.0.0/0'
	option int_port '1024-65535'
	option ext_port '1024-65535'
	option action 'disabled'

config acl_entry
	option comment 'Low/system ports'
	option int_addr '0.0.0.0/0'
	option int_port '1-1023'
	option ext_port '1-1023'
	option action 'disabled'

