
config upnpd 'settings'
	option enabled '0'
	option enabled_protocols 'all'
	option log_output 'default'
	option upnp_igd_compat 'igdv1'

config internal_network
	option interface 'lan'
	option acl_preset 'accept-high-ports'

config perm_rule
	option comment 'High ports'
	option action 'disabled'
	option int_addr '0.0.0.0/0'
	option int_ports '1024-65535'
	option ext_ports '1024-65535'

config perm_rule
	option comment 'HTTPS port'
	option action 'disabled'
	option int_addr '0.0.0.0/0'
	option int_ports '443'
	option ext_ports '443'

config perm_rule
	option comment 'Low/system ports'
	option action 'disabled'
	option int_addr '0.0.0.0/0'
	option int_ports '1-1023'
	option ext_ports '1-1023'

config perm_rule
	option comment 'All ports'
	option action 'disabled'
	option int_addr '0.0.0.0/0'
	option int_ports '1-65535'
	option ext_ports '1-65535'

